<section class="team-section">
  <div class="header-content">
    <h2 class="section-title">Nuestro <span class="highlight">Equipo</span></h2>
    <p class="section-subtitle">Mentes analíticas detrás de la ingeniería financiera de tu empresa.</p>
  </div>

  <div class="team-grid">
    @for (miembro of equipo; track miembro.nombre) {
      <div class="team-card">
        <!-- El borde animado tipo escáner -->
        <div class="scanner-border"></div>
        
        <div class="card-content">
          <div class="image-wrapper">
            <img [src]="miembro.imagen" [alt]="miembro.nombre">
            <div class="image-overlay"></div>
          </div>
          <div class="info-wrapper">
            <h3 class="name">{{ miembro.nombre }}</h3>
            <p class="role">{{ miembro.cargo }}</p>
            <div class="divider"></div>
            <p class="desc">{{ miembro.descripcion }}</p>
            
            <div class="social-links">
              <a href="#" class="social-btn">in</a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</section>